#app {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  height: 1000px;
  justify-content: flex-start;
  align-content: flex-start;
}
#app > * {
  border-radius: 2px;
  transition: all ease 0.3s;
}
.blocco {
  position: relative;
  width: 250px;
  padding: 8px;
  margin: 10px;
  border: 1px solid #ccc;
}

.top {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

ul {
  clear: both;
  display: block;
  max-width: 250px;
}

h1 {
  
  max-width: 300px;
}

input {

  max-width: 300px;
}